#hero {
    background-color:  #2e2f42;
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
 }

.button-title {
    border-radius: 4px;
    padding-block: 16px;
    padding-inline: 32px;
    width: 169px;
    height: 56px;
    color:#fff;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor:pointer;
    border-radius: 4px;
    padding: 16px;
    min-width: 169px;
    height: 56px;
    color: #fff;
}

.button-title:hover,
.button-title:focus {
    background-color: #404bbf;
}
